html {
    font-size: 1.125rem;
    min-width: 360px;
}

body {
    background-color: #F0F0F3;
    box-sizing: border-box;
    color: #181818;
    font-family: "Lato", sans-serif;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container > .column {
    margin: 0.5rem;
}

.container > .column-left {
    order: 1;
}

.container > .column-right {
    height: 15.5rem;
    order: 1;
    overflow: hidden;
}

.container > .column-right > .profile-picture {
    height: auto;
    margin-top: -10%;
    width: 100%;
}

h1 {
    font-size: 1.3rem;
    font-weight: 400;
}

a {
    color: #0055EE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.license-icon-link {
    font-size: 0.75rem;
}

img.license-icon-image {
    border: 0;
    height: 15px;
    vertical-align: text-bottom;
    width: 80px;
}

a.social-icon-link {
    white-space: nowrap;
}

i.social-icon-image {
    color: #181818;
    padding: 0 0.2rem 0 0.1rem;
}

@media (min-width: 528px) {
    .container > .column-right {
        height: 23rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 1.25rem;
    }

    .container {
        flex-direction: row;
        margin: 0 auto;
        max-width: 1140px;
        padding: 2.5rem 2.5rem 0 2.5rem;
    }

    .container > .column-right {
        flex-shrink: 0;
        height: auto;
        order: 2;
        width: 17.5rem;
    }

    .container > .column-right > .profile-picture {
        border-radius: 0.2rem;
        margin-top: auto;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2C2C30;
        color: #D9D9D9;
    }

    a {
        color: #00AAFF;
    }

    i.social-icon-image {
        color: #D9D9D9;
    }
}
